.cabeçalho{
    background-color: crimson;
    border: 10px;
    border-color: yellow;
    border-style: dotted;
    margin: 10px;
    color: black;
    font-weight: 400;
}

#escudo-manchester{
    width: 1000px;
    border: 3px black;  
}

#link{
    font-size: 30px;
    color: crimson;
    text-decoration: none;
} 
#link:hover{
    font-size: 35px;
    color:blue;
    text-decoration: underline;
}

.principal{
    background-color: black;
    border: 10px;
    border-color: red;
    border-style: double;
    margin: 20px;
    color: yellow;
}